#sidebar-menu span.fa {flex: right}
	#sidebar{
    position: sticky;
    top: 20px;
}
.sidebar-wrapper{
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    position:sticky;
    top:20px;
}

.sidebar-wrapper h3 {
    margin-bottom: 20px;
    font-size: 22px;
    background:#0d6efd;
    color:#fff;
	border-radius:8px;
    padding: 10px;
}

.sidebar-menu{
    list-style:none;
    padding:0;
    margin:0;
}

.sidebar-menu li{
    margin-bottom:10px;
}
.sidebar-menu a {
    display: block;
    padding: 10px 15px;
    border-radius: 0;
    text-decoration: none;
    color: #333;
    transition: .3s;
    border-bottom: 1px solid #e1e1e1;
}
	.sidebar-menu a span.fa {float: right}
.sidebar-menu a:hover{
    background:#0d6efd;
    color:#fff;
}